#include <windows.h>
#include "resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_CRASHDUMP		ICON		".\\Resources\\CrashDump.ico"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_ILLEGAL_OPERATION DIALOGEX 0, 0, 265, 61
STYLE DS_CENTER | DS_SETFOREGROUND | DS_SYSMODAL | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_TOPMOST
CAPTION ""
FONT 8, "MS Shell Dlg", 400, 0, 1
BEGIN
	DEFPUSHBUTTON	"关闭(&C)", IDCANCEL, 196, 5, 66, 14, WS_GROUP
	PUSHBUTTON		"调试(&B)", IDC_BTN_DEBUG, 196, 24, 66, 14, NOT WS_VISIBLE | WS_GROUP
	PUSHBUTTON		"详细信息(&D)>>", IDC_BTN_DETAILS, 196, 43, 66, 14, WS_GROUP
	EDITTEXT		IDC_EDT_DETAILS, 7, 63, 251, 82, WS_VSCROLL | ES_AUTOVSCROLL | ES_MULTILINE | ES_READONLY
	ICON			IDI_ERROR, 9, 7, 7, 21, 20, SS_ICON
	LTEXT			"该程序遇到致命错误，已无法继续运行。\n\n如果问题持续存在，请联系作者寻求协助。", IDC_STATIC, 32, 7, 154, 47, SS_LEFT
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
VS_VERSION_INFO VERSIONINFO
	FILEVERSION		0, 1, 0, 1
	PRODUCTVERSION	0, 1, 0, 1
	FILEOS			VOS_NT_WINDOWS32
	FILETYPE		VFT_DLL
	FILESUBTYPE		VFT2_UNKNOWN
    FILEFLAGSMASK   0x00000001
#ifndef NDEBUG
    FILEFLAGS       0x00000001
#else
    FILEFLAGS       0x00000000
#endif
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "080403A8"
		BEGIN
			VALUE "CompanyName", "LH_Mouse"
			VALUE "FileDescription", "基础崩溃转储辅助库"
			VALUE "FileVersion", "0.1.0.1"
			VALUE "InternalName", "CrashDmp"
			VALUE "LegalCopyright", "Copyleft. All wrongs reserved."
			VALUE "LegalTrademarks", ""
			VALUE "OriginalFilename", "CrashDump.dll"
			VALUE "ProductName", "CrashDump"
			VALUE "ProductVersion", "0.1.0.1"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0804, 0x03A8
	END
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
ISOLATIONAWARE_MANIFEST_RESOURCE_ID		RT_MANIFEST		".\\resources\\Manifest.xml"
